{% load static %}
<footer class="footer">
		<div class="footer__first_row">
			<div class="container">
				<div class="footer__column">
					<div class="footer__title">
						<h3>
							О КОЛЛЕДЖЕ
						</h3>
					</div>
					<div class="footer__subtitle">
						<img src="{% static 'pages/img/footer/logo_footer.png' %}" alt="логотип" class="icon">
						<p>Федеральное государственное бюджетное образовательное учреждение высшего образования "Рыбинский государственный авиационный технический университет имени П.А. Соловьёва" Авиационный колледж</p>
					</div>
				</div>
				<div class="footer__column">
					<div class="footer__title">
						<h3>
							КОНТАКТНЫЕ ДАННЫЕ
						</h3>
					</div>
					<div class="footer__subtitle">
						<ul class="left">
							<li class="footer-contact"><i class="fa fa-home"></i><span>152903, Россия,&nbsp; Ярославская область, г. Рыбинск, ул. Чкалова, д.93 </span></li>
							<li class="footer-contact"><i class="fa fa-envelope-o"></i><span>rak.kadr@yandex.ru&nbsp;</span></li>
							<li class="footer-contact"><i class="fa fa-phone"></i><span>&nbsp;8(4855)28-04-02 </span></li>
							<li class="footer-contact"><i class="fa fa-clock-o"></i><span>Понедельник-пятница 8:00-17:00 Суббота 8:00-16:00 </span></li>
							<li class="footer-contact"><i class="fa fa-map-marker"></i><span><a href="https://yandex.ru/map-widget/v1/?um=constructor%3Ae62e5a6a563eea58ab125338daf756da979653c09ba50e01274ed6ff917b35fc&amp;">Показать на карте</a></span></li>
							<li class="footer-contact"><span></span>
						
						</li>
					</ul>
					</div>
				</div>
				<div class="footer__column">
					<div class="footer__title">
						<h3>
							ПРИЁМНАЯ КОМИССИЯ
						</h3>
					</div>
					<div class="footer__subtitle">
						<ul> 
							<li class="footer-contact"><i class="fa fa-envelope-o"></i><span>rak.priem@yandex.ru</span></li> 
							<li class="footer-contact"><i class="fa fa-phone"></i><span>8(4855)28-04-24   <br>8(4855)22-28-69</span></li> 
							<li class="footer-contact"><i class="fa fa-clock-o"></i><span>Понедельник-Пятница: с 8:00-17:00</span></li>
						</ul>
					</div>
				</div>
				<div class="footer__column">
					<div class="footer__title">
						<h3>
							ПОЛЕЗНЫЕ ССЫЛКИ
						</h3>
					</div>
					<div class="footer__subtitle">
						<p align="center">
							<a href="http://www.edu.ru/" target="_blank" rel="noopener noreferrer">
								<img src="{% static 'pages/img/footer/rusobraz.jpg' %}" alt="" width="117" height="47">
							</a>
							<br> 
							<a href="http://www.informika.ru/" target="_blank" rel="noopener noreferrer">
								<img src="{% static 'pages/img/footer/informika.jpg' %}" alt="" width="117" height="47">
							</a>
							<br> 
							<a href="https://rost.ru/" target="_blank" rel="noopener noreferrer">
								<img src="{% static 'pages/img/footer/pnp.jpg' %}" alt="" width="117" height="47">
							</a>
							<br>
							<a href="https://xn--80abucjiibhv9a.xn--p1ai/%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE" target="_blank" rel="noopener noreferrer">
								<img src="{% static 'pages/img/footer/mon_gov_ru_1.gif' %}" width="116" height="53">
							</a>
							<br> 
							<a href="http://fcior.edu.ru/" target="_blank" rel="noopener noreferrer">
								<img src="{% static 'pages/img/footer/fcior_edu_ru_1.gif' %}" width="117" height="53">
							</a>
						</p>
					</div>
				</div>
			</div>
			</div>
			<div class="footer__second_row">
				<div class="container">
					<div class="copyright">
						© <span>Рыбинский Авиационный колледж</span> 2019. Все права защищены.
					</div>
				</div>
			</div>
</footer>